/SOL/practica2_6/nbproject/private/
/SOL/practica2_6/build/
/SOL/practica2-6/nbproject/private/
/SOL/practica2-6/build/
/SOL/practica2-6/dist/
/SOL/Ejercicio03/nbproject/private/
/SOL/Ejercicio04/nbproject/private/
/SOL/Ejercicio05/nbproject/private/
